## 함수

In [1]:
def detect_10_or_11(number):
    if number == 10:
        print("number는 10이다.")
    elif number == 11:
        print("number는 11이다.")
    else: 
        print("number는 10도 11도 아니다.")

In [2]:
detect_10_or_11(10)

number는 10이다.

In [3]:
detect_10_or_11(8)

number는 10도 11도 아니다.

In [4]:
a = [1,2,3]
b=a
print(a,b)

[1, 2, 3] [1, 2, 3]

In [5]:
b.append(4)
print(a,b)

[1, 2, 3, 4] [1, 2, 3, 4]

In [6]:
id(a)

2570983897992

In [7]:
##################################################################################################################################3

In [8]:
a=10
b=a
c=b
a = a+1

In [9]:
a

11

In [10]:
b

10

In [11]:
c

10

In [12]:
a = "Hello"
b=a
b += "World"  #b = b+"World"와 같음

In [13]:
a

'Hello'

In [14]:
b

'HelloWorld'

In [15]:
id(a)

2570984503472

In [16]:
id(b)

2570984485552

### !! 여기서 리스트와 다르게 a=b가 아닌이유는?

리스트와 같이 저장 공간이 있는 것은 추가돼도 같은 값을 가지게 됨

but 숫자값, 문자열 등 하나의 값을 가지는 것은 id를 아예 다르게 가짐

In [17]:
########################################################################################################################################

## 문자열(string) 가지고 놀기

### strip(): 양쪽 공백 없애주기

In [18]:
b = ['   apple   ', '   kiwi   ']
k = [k.strip() for k in b] #for문으로 다른 리스트로 옮길 수 있음
k

['apple', 'kiwi']

### "{}".format(): 문자열 포맷 지정

In [19]:
print("{:.2f}".format(4/3))

1.33

In [20]:
print("{:04d}".format(12))

0012

In [21]:
def convert_temp(c):
    return (c*9/5) + 32

In [22]:
convert_temp(26)

78.8

In [23]:
def convert_temp(c):
    return "{}.F".format((c*9/5) + 32)

In [24]:
convert_temp(26)

'78.8.F'

In [25]:
def add(a,b):
    return a+b

def mul(a,b):
    return a*b

def add_and_mul(a,b=0):
    return add(a,b),mul(a,b)

print('-'*50)
print(add_and_mul(1,3))

--------------------------------------------------
(4, 3)

In [26]:
print(add_and_mul(3)) #b의 디폴트값은 0

(3, 0)

### insert

원하는 위치에 삽입

In [27]:
a = [1,2,3]
a.insert(1,0)
print(a)

[1, 0, 2, 3]

### sort

정렬, reverse=True면 내림차순

In [28]:
a = [1,2,3,4,5]
a.sort()

In [29]:
print(f"오름차순 정렬: {a}")

오름차순 정렬: [1, 2, 3, 4, 5]

In [30]:
a.sort(reverse=True) #내림차순
print(f"내림차순 정렬: {a}")

내림차순 정렬: [5, 4, 3, 2, 1]

### append - 차곡차곡 쌓기

In [31]:
a = []
a.append(1)
a.append(2)
a.append(3)
print(a)

[1, 2, 3]

### pop - 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제

In [32]:
a.pop()
print(a)

[1, 2]

In [33]:
a.pop()
print(a)

[1]

In [34]:
a.pop()
print(a)

[]

In [14]:
a.pop()
print(a)

NameError: name 'a' is not defined

## queue와 popleft

queue는 가장 먼저 넣은 데이터를 가장 먼저 꺼낼 수 있는 구조

Enqueue: 큐에 데이터를 넣는 기능/
Dequeue: 큐에서 데이터를 꺼내는 기능

In [ ]:
from collections import deque

In [ ]:
queue = deque([1,2,3])
print(queue)

In [ ]:
queue = deque([])
queue.append(1)
print(queue)

In [ ]:
queue.append(2)
print(queue)

In [ ]:
queue.append(3)
print(queue)

In [ ]:
queue.popleft()
print(queue)

In [ ]:
queue.popright() #queue는 가장 먼저 넣은 데이터를 가장 먼저 꺼낼 수 있는 구조이기 때문에 안되는 듯!
print(queue)

## 리스트 vs 튜플 vs 딕셔너리

### 리스트: []로 표현, 수정가능

### 튜플: ()로 표현, 수정 불가

In [ ]:
#list
a = [1,2,3]
print(a)
a[0]=5 #인덱싱 가능
print(a)

In [ ]:
#tuple
a = (1,2,3)
print(a)
a[0]=5 #수정안됨! 
print(a)

### 딕셔너리: 키-value가 짝

In [ ]:
tel = {'ethan':'01011112222', 'ethan':'01033334444'} #중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점
print(tel['ethan'])
print(tel)

In [ ]:
print(tel.keys())

In [ ]:
tel = {'ethan':'1234', 'guido':'1111', 'chaser':'4885'}
print(tel.keys())
keys = tel.keys()

In [ ]:
#key를 리스트에 넣기
a=[]
for key in keys:
    a.append(key)

print(a)

In [ ]:
for key in keys:
    print(key)

In [ ]:
keys = list(keys) #리스트로 변환
print(keys)

### set - 중복제거하는 데 사용할 수 있음!

In [ ]:
a = [1,1,1,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3]
print(a)

In [ ]:
a.remove(2)
print(a)

In [ ]:
a = set(a) #distinct값으로만 구성
print(a)
a = list(a) #다시 리스트로 변환
print(a)

# 복습

### "{}".format() 형태

In [6]:
print("Hello {}".format("Ethan"))
print("-"*30)
print("{:04d}".format(1))
print("{:04d}".format(12))
print("{:04d}".format(123))
print("-"*30)
print("{:.2f}".format(3.14159))

Hello Ethan
------------------------------
0001
0012
0123
------------------------------
3.14

### f-strings 방식

In [13]:
print(f'Hello{"Ethan"}')
print("-"*30)
print(f'{1:04d}')
print(f'{12:04d}')
print(f'{123:04d}')
print("-"*30)
print(f'{3.141592:2f}')

HelloEthan
------------------------------
0001
0012
0123
------------------------------
3.141592

In [32]:
a = "   Apple,    Banana,             Cake, Donut"
b = a.split(",")
print("split result(b):", b)


c = [c.strip() for c in b] #양쪽 공백 제거
print("Strip result(c):", c)

c = [c.strip().upper() for c in b] #공백제거 + 대문자화
print("Strip & Upper result: ", c)

split result(b): ['   Apple', '    Banana', '             Cake', ' Donut']
Strip result(c): ['Apple', 'Banana', 'Cake', 'Donut']
Strip & Upper result:  ['APPLE', 'BANANA', 'CAKE', 'DONUT']

# 클래스(Class) 이해하기

In [33]:
def calc_bmi(height, weight):
    height=height*0.01
    return weight/(height ** 2)

person1_name = "Jack"
person1_height = 170
person1_weight = 80


person2_name = "John"
person2_height = 180
person2_weight = 80

person1_bmi = calc_bmi(person1_height, person1_weight)
person2_bmi = calc_bmi(person2_height, person2_weight)

print("{}'s bmi = {:.2f}'".format(person1_name, person1_bmi))
print("{}'s bmi = {:.2f}'".format(person2_name, person2_bmi))

Jack's bmi = 27.68'
John's bmi = 24.69'

In [40]:
#쿠키 커터틀 - 클래스

class Person:#Class명은 대문자로 시작
    def __init__(self, name, height, weight): #class안에 구현된 함수 = 메서드
        self.name = name
        self.height = height #객체값 전달
        self.weight = weight #객체값 전달
    def bmi(self):
        height = self.height * 0.01
        return self.weight/(height ** 2)
    def print_bmi(self):
        print("{}'s bmi = {:.2f}'".format(self.name, self.bmi()))

#class로 만든 애들 - 객체
person1 = Person("Jack",170,80) # 객체1
person2 = Person("John", 180,80) #객체2

person1.print_bmi()
person2.print_bmi()

Jack's bmi = 27.68'
John's bmi = 24.69'